

<div class="mob" >
  <img src="../../assets/1.jpg" id="bg"  alt="">

<div>
      <input type='submit'   (click)="sendMessage()" value="send">
      <input type='input' [(ngModel)]="message"  value="get">
      <input type='submit'   (click)="joingame()" value="join room">
      
</div>

 

  <input type="submit" (click)="startGame()"  value="Start Game" id="input-submit">
  
  <input id="input-user"  type="text" name="UserAnswer"  placeholder="You Answer" [(ngModel)]="userAnswer"/>
  <input type="submit" (click)="sendAnswer()"  value="Send Answer" id="input-submit">


  
  <div class="open"> 
    
  <span class="cls"></span> 
  <span>
    <ul class="sub-menu ">
      <li (click)="Userstats()" > User Stats</li>
      <li> <a href="#">Contact</a> </li>
      <li> <a href="#">About</a> </li>
      <li> <a href="#">Blog</a> </li>
    </ul>
  </span> 
  <span class="cls"></span> 
</div>

  <br><br><br>

  <section class="success" id="about">
    <div class="container">


      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Start Guessing</h2><br>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
<div class="center">
  <div >
 <p>Send You Answer</p>
<form class="center">
<!--<input  id="input-submit" type='input'  placeholder="Name Your game"   [(ngModel)]="gamename">
<input  id="input-submit" type='submit' routerLink = "/test"  value="Iniate Game">-->
<input id="input-user"  type="text" name="UserAnswer"  placeholder="You Answer" [(ngModel)]="userAnswer"/>
<input type="submit" (click)="sendAnswer()"  value="Send Answer" id="input-submit">
</form>
</div>
</div>



      </div>
    </div> 
  </section>

 




<div class="container">
    <footer class="container-fluid text-center">
      <i>Guess My number <i class="fa fa-ravelry" aria-hidden="true"></i></i><br>
      <i>Our Address: Amman, Jordan, Business Park <span class="glyphicon glyphicon-globe"></span></i><br>
      <i class="copyright text-muted small">Copyright &copy; G-P <span class="glyphicon glyphicon-heart"></span></i><br>
    </footer>
  </div>
</div>

  

