/*flash messages style*/
#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}
 
.flash-message
{
    z-index: 10000;
    position: relative;
}



*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  color: #0f3f70;
  text-shadow: 1px 1px 0 black;
}
h2 {
  
  color: #0f3f70;
  text-shadow: 1px 1px 0 black;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus,
form textarea:focus {
    
  -moz-box-shadow: 0 0px 2px #141b56 !important;
  -webkit-box-shadow: 0 0px 2px #141b56 !important;
  box-shadow: 0 0px 2px #141b56 !important;
}
form #input-submit {
  color: white;
  background: #141b56 ;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 100%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

 .error {
    color: #FF4500;
    font-size: small;
  }
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}



.active {
    background-color: #4CAF50; /* Add an active/current color */
}
section.success {
  background: #485451;
  color: white;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #485451;
  background: white;
  border: solid 2px white;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #485451;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 225px;
  margin: 10px auto 20px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #485451;
  color: white;
}

section {
  padding: 75px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
/**/
/**/

/*
*/
/*menu*/
.open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }