<p>
  test-game works!
</p>
<div>
      <input type='submit'   (click)="sendMessage()" value="send">
      <input type='input' [(ngModel)]="message"  value="get">
      <input type='submit'   (click)="joingame()" value="join room">
      
</div>

 

  <input type="submit" (click)="startGame()"  value="Start Game" id="input-submit">
  
  <input id="input-user"  type="text" name="UserAnswer"  placeholder="You Answer" [(ngModel)]="userAnswer"/>
  <input type="submit" (click)="sendAnswer()"  value="Send Answer" id="input-submit">


  
  

