


<div class ="bbdd">
  
  <img src="../../assets/1.jpg" id="bg" alt="">
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
  <a name="about"></a>
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Company Manager Website</h1>
            <h2>Best Choice <span class=" glyphicon glyphicon-check"></span></h2>
            <h3>Manage your company easily and simpily</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="https://github.com/Berzzerk/Fcompany" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/uas/login" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Company Manager</h2><br>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>The most important benefit of our website is that the referrals that you get through networking are normally high quality and most of the time are even pre-qualified for you.</p>
        </div>
        <div class="col-lg-4">
          <p>You can then follow up on these referrals/leads and turn them into clients. So you are getting much higher quality leads from business networking than other forms of marketing.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center"> 
          <a href="http://amazingbusiness.com/top-9-benefits-of-business-networking/" class="btn btn-lg btn-outline">
            <i class="fa fa-book fa-fw"></i> Read more
          </a>
        </div>

      </div>
    </div> 
  </section>

 




 
  <div class="container">
    <footer class="container-fluid text-center">
      <i>Company Manager <i class="fa fa-ravelry" aria-hidden="true"></i></i><br>
      <i>Our Address: Amman, Jordan, Business Park <span class="glyphicon glyphicon-globe"></span></i><br>
      <i>Contact Us On <span class="glyphicon glyphicon-hand-right"> </span> 07345364534 <span class="glyphicon glyphicon-phone"></span></i><br>
      <i class="copyright text-muted small">Copyright &copy; Berzzerk.com, 2017-RBK <span class="glyphicon glyphicon-heart"></span></i><br>
    </footer>
  </div>
</div>