


<div >
  <img src="../../assets/1.jpg" id="bg" alt="">
<

  <div class="open"> 
    
  <span class="cls"></span> 
  <span>
    <ul class="sub-menu ">
      <li (click)="Userstats()" > User Stats</li>
      <li> <a href="#">Contact</a> </li>
      <li> <a href="#">About</a> </li>
      <li> <a href="#">Blog</a> </li>
    </ul>
  </span> 
  <span class="cls"></span> 
</div>




  <a name="about"></a>
  <br><br><br>
<div  class="chart" >
<canvas  id="statChart"    ></canvas>
</div>
  <section class="success" id="about">
    <div class="container">


      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Start Guessing</h2><br>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p> Check Your Game Stats</p> 
            <form>
  <input type="submit" (click)="showstats()"  value="My Stats" id="input-submit">
            </form>
 
        </div>

<div class="col-lg-4">
          <p>Play vs The Ai </p>
      <form>
  <input type="submit" value="P  Vs Pc" id="input-submit">
       </form>
<!-- to show game available to play -->
   <div *ngIf="gameflag" class="sidenav">
<a (click)="showGames()"> close</a>
 <div *ngFor="let game of games">
 <a [routerLink]="['/test', { _id: game._id }]">{{game._id}}</a>
 </div>
</div>
 </div>

  <div class="col-lg-4">
 <p>Start A Game</p>
<form>
<input  id="input-submit" type='submit'  value="Iniate Game">
</form>
</div>

 <div class="col-lg-4">
 <p>Some Text About the Game</p>
<form>
<input *ngIf="!testflag" id="input-submit" type='submit' (click)="showGames()" value="show games">
</form>
        </div>

      </div>
    </div> 
  </section>

 




<div class="container">
    <footer class="container-fluid text-center">
      <i>Guess My number <i class="fa fa-ravelry" aria-hidden="true"></i></i><br>
      <i>Our Address: Amman, Jordan, Business Park <span class="glyphicon glyphicon-globe"></span></i><br>
      <i class="copyright text-muted small">Copyright &copy; G-P <span class="glyphicon glyphicon-heart"></span></i><br>
    </footer>
  </div>
</div>
